<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Name</label>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Description</label>
    <%= f.text_area :description, rows: 3, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Picture</label>
    <%= f.file_field :picture %>
  </div>
  <%= f.submit "Save Idea", class: "btn btn-primary" %>

<% end %>
